/* src/components/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #20C4C4, #FF3F7F);
  padding: 15px 30px;
  color: white;
  flex-wrap: wrap;
}

.logo-img {
  height: 50px;
  border-radius: 15px;
}

.header-icons a {
  color: white;
  margin-left: 15px;
  font-size: 1.2rem;
}

.header-icons a:hover {
  color: #e75e1e;
}

