

.menu-categorias {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #fafafa;
}

.menu-categorias ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.menu-categorias li {
  color: #000000;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.menu-categorias li span {
  font-size: 10px;
  margin-left: 5px;
}

.menu-categorias li:hover {
  color: #e75e1e;
}